<section id="about" class="section section-about">
  <div class="section-content">
    <h2 aria-label="Carlin presents... Me Talking About Myself" class="section-header">
      <img src="{{ 'assets/images/about.svg' }}" alt="" aria-hidden="true">
    </h2>
    <hr>
    <p>Howdy!</p>
    <p>I'm a passionate web developer and designer. For the past several years I've been designing and building websites for small, medium, and large businesses. It's fun and challenging, and I absolutely love what I do.</p>
    <p>I believe in small details. Technology and the way people interact with it is an extremely important part of our lives. Learning about patterns, conventions, behaviours and how to create a positive experience for a wide audience is essential. I like to design and build things that other people will really enjoy using, and pass what I've learned on to help others do the same.</p>

    <aside class="about-availability">
      <p> I'm currently available on a part-time basis for consultation, freelance contracts, and collaboration.</p>
    </aside>
  </div>
</section>