<section id="about" class="section section-about">
  <div class="section-content">
    <h2 class="section-header">About</h2>
    <p>My name is Carlin; I'm a web developer and designer with a passion for building accessible, engaging web experiences.</p>
    <p>I believe in small details. Technology and the way people interact with it is an extremely important part of our lives. Learning about patterns, conventions, behaviours and how to create a positive experience for a wide audience is essential. I like to design and build things that other people will really enjoy using, and pass what I've learned on to help others do the same.</p>
    <p> I'm currently available on a part-time basis for consultation, freelance contracts, and collaboration.</p>
  </div>
</section>