<section id="contact" class="section section-contact">
  <div class="section-content">
    <h2 aria-label="Contact me electronically" class="section-header">
      <img src="{{ 'assets/images/contact.svg' }}" alt="" aria-hidden="true">
    </h2>
    <p>I'm on Twitter with the cool kids and LinkedIn with the geeks. Most of my code is in BitBucket's private repositories. I don't use GitHub much (just occassionaly for personal projects).</p>
    <p>Find me on any of the networks listed below; alternatively, feel free to send me an email.</p>
  </div>
</section>