<section id="contact" class="section section-contact">
  <div class="section-content">
    <h2 aria-label="Contact me electronically" class="section-header">
      <img src="" data-src="{{ 'assets/images/contact.svg' }}" alt="" aria-hidden="true">
    </h2>

    <p>I'm on Twitter with the cool kids, LinkedIn with the professionals and Github with the geeks. Most of my code is in BitBucket's private repositories since I don't use GitHub much (just occassionally for personal projects).</p>

    <div class="contact-block">
      <a class="contact-email" href="mailto:carlinscuderi@gmail.com">carlinscuderi@gmail.com</a>
      <div class="contact-other">
        <a class="contact-twitter"
           href="https://twitter.com/carlinscuderi"
           target="_blank"
           aria-label="Twitter"
           rel="noopener noreferrer">
        </a>
        <a class="contact-linkedin"
           href="https://www.linkedin.com/in/carlinscuderi/"
           target="_blank"
           aria-label="LinkedIn"
           rel="noopener noreferrer">
        </a>
        <a class="contact-dribbble"
           href="https://dribbble.com/carlinscuderi"
           target="_blank"
           aria-label="Dribbble"
           rel="noopener noreferrer">
        </a>
        <a class="contact-codepen"
           href="https://codepen.io/carlinscuderi/"
           target="_blank"
           aria-label="Codepen"
           rel="noopener noreferrer">
        </a>
      </div>
    </div>
  </div>
</section>
