    <footer class="main-footer section">
      <div class="section-content">
          <img class="footer-logo" src="{{ 'assets/images/logo-rev.svg' }}" alt="Carlin's logo. A shield emblem.">
        <p class="footer-made">Made with <img src="{{ 'assets/images/frontend.svg' }}" alt="front-end"> technologies!</p>
        <p class="footer-copyright">&copy; Copyright MMXVIII <br><small>Designed and built by Carlin Scuderi</small></p>
      </div>
      <div class="sub-footer">
        <div class="section-content">
          <img class="footer-the-end" src="{{ 'assets/images/the-end.svg' }}" alt="The end.">
        </div>
      </div>
    </footer>

    <script src="{{ 'assets/scripts/index.js' }}"></script>

    <!-- TODO Google Analytics -->
    <script>
        window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
        ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>
  </body>
</html>