    <footer class="main-footer section">
      <div class="section-content">
        <img class="footer-logo" src="{{ 'assets/images/logo-rev.svg' }}" alt="Carlin's logo. A shield emblem.">
        <p class="footer-made">Made with <img src="{{ 'assets/images/frontend.svg' }}" alt="front-end"> technologies!</p>
        <p class="footer-copyright">&copy; Copyright MMXVIII <br>
          <small>Designed and built by Carlin Scuderi</small>
        </p>
      </div>
      <div class="sub-footer">
        <div class="section-content">
          <img class="footer-the-end" src="{{ 'assets/images/the-end.svg' }}" alt="The end.">
        </div>
      </div>
    </footer>

    <script src="{{ 'assets/scripts/index.js' }}"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-9507179-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-9507179-1');
    </script>
  </body>
</html>