<!DOCTYPE html>
<html lang="en-CA">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="assets/styles/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates|Montserrat:400,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
  </head>
  <body>
    <!--[if lte IE 10]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    <div class="a11y-controls">
      <ul>
        <li><button type="button" class="js-toggle-animation">Toggle animations</button></li>
        <li><a href="#main">Jump to main content</a></li>
      </ul>
    </div>