<section class="section section-hello">
  <div class="section-content">
    <h1 lang="it" aria-label="Ciao!" class="hello-header js-hello-header">
      <noscript>
        <!--
          These images are controlled via JS, but in case that fails for
          some reason, people can still read the intro wording.
        -->
        <div class="no-animation">
          <img class="hello-header-img hello-header-c"
              src="{{ '/assets/images/C.svg' }}"
              style="opacity: 1; max-height: 100%; height: auto; min-height: 100%;"
              alt=""
              aria-hidden="true"
              role="presentation" />
          <img class="hello-header-img hello-header-i"
              src="{{ '/assets/images/I.svg' }}"
              style="opacity: 1; max-height: 100%; height: auto; min-height: 100%;"
              alt=""
              aria-hidden="true"
              role="presentation" />
          <img class="hello-header-img hello-header-a"
              src="{{ '/assets/images/A.svg' }}"
              style="opacity: 1; max-height: 100%; height: auto; min-height: 100%;"
              alt=""
              aria-hidden="true"
              role="presentation" />
          <img class="hello-header-img hello-header-o"
              src="{{ '/assets/images/O.svg' }}"
              style="opacity: 1; max-height: 100%; height: auto; min-height: 100%;"
              alt=""
              aria-hidden="true"
              role="presentation" />
          <img class="hello-header-img hello-header-e"
              src="{{ '/assets/images/e.svg' }}"
              style="opacity: 1; max-height: 100%; height: auto; min-height: 100%;"
              alt=""
              aria-hidden="true"
              role="presentation" />
        </div>
      </noscript>
    </h1>
    <p class="hello-intro">My name is Carlin; I'm a web developer and designer with a passion for building accessible, engaging web&nbsp;experiences.</p>
    <button type="button" class="toggle-animation js-toggle-animation">Toggle animations on/off</button>

    <div class="hello-finger js-hello-finger" aria-hidden="true"></div>
  </div>
  <div class="burst-wrapper">
    <div class="burst js-burst"></div>
  </div>
</section>
