<section class="section section-hello">
  <div class="section-content">
    <h1 lang="it" aria-label="Ciao!" class="hello-header">
      <img
        class="hello-header-img hello-header-c js-hello-header-c"
        src="{{ '/assets/images/C.svg' }}"
        alt=""
        aria-hidden="true"
        role="presentation" />
      <img
        class="hello-header-img hello-header-i js-hello-header-i"
        src="{{ '/assets/images/I.svg' }}"
        alt=""
        aria-hidden="true"
        role="presentation" />
      <img
        class="hello-header-img hello-header-a js-hello-header-a"
        src="{{ '/assets/images/A.svg' }}"
        alt=""
        aria-hidden="true"
        role="presentation" />
      <img
        class="hello-header-img hello-header-o js-hello-header-o"
        src="{{ '/assets/images/O.svg' }}"
        alt=""
        aria-hidden="true"
        role="presentation" />
      <img
        class="hello-header-img hello-header-e js-hello-header-e"
        src="{{ '/assets/images/exclamation.svg' }}"
        alt=""
        aria-hidden="true"
        role="presentation" />
    </h1>
    <p class="hello-intro">My name is Carlin; I'm a web developer and designer with a passion for building accessible, engaging web experiences.</p>
    <button type="button" class="toggle-animation js-toggle-animation">Toggle animations on/off</button>

    <div class="hello-finger js-hello-finger" aria-hidden="true"></div>
  </div>
  <div class="burst burst-big"></div>
</section>