<section id="work" class="section section-work">
  <div class="section-content">

    <h2 aria-label="Selections of work" class="section-header">
      <img src="{{ 'assets/images/work.svg' }}" alt="" aria-hidden="true">
    </h2>

    <hr>

    <div class="work-items">

      {% for post in site.posts %}
      <article class="work-item">
        <a href="#" class="work-link js-work-link">
          <header class="work-header">
            <h3 class="work-project" data-title="{{post.title}}">{{ post.title }}</h3>

          </header>
          <div class="work-picture">
            <img src="{{ 'assets/images/work/quadrus_preview.jpg' }}" alt="">
          </div>
        </a>
      </article>

      <div class="work-modal-wrapper js-work-modal is-hidden" aria-hidden="true" tabindex="-1">
        <div class="work-modal">
          <header class="work-modal-header">
            <h1>{{ post.title }}</h1>
            <button type="button" class="modal-close-button js-modal-close-button" aria-label="Close">&times;</button>
          </header>
          <div class="work-modal-content">
            {{ post.content }}
          </div>
        </div>
        <div class="work-modal-screen js-work-modal-screen"></div>
      </div>

      {% endfor %}

      </div>
  </div>
</section>