<section id="work" class="section section-work">
  <div class="section-content">

    <h2 aria-label="Selections of work" class="section-header">
      <img src="{{ 'assets/images/work.svg' }}" alt="" aria-hidden="true">
    </h2>

    <hr>

    <div class="work-items">

      {% for post in site.posts %}
      <article class="work-item work-item-{{ post.smalltitle }}">
        <a href="#" class="work-link js-work-link">
          <header class="work-header">
            <h3 class="work-project">{{ post.title }}</h3>
            <div class="work-category">{{ post.category }}</div>
          </header>
          <div class="work-picture">
            <img src="{{ 'assets/images/work/'}}{{ post.smalltitle }}{{'-preview.svg'}}" alt="">
          </div>
        </a>
      </article>

      <div class="work-modal-wrapper js-work-modal is-hidden" aria-hidden="true" tabindex="-1">
        <div class="work-modal">
          <header class="work-modal-header">
            <div class="work-modal-row">
              <h1 data-title="{{post.title}}">{{ post.title }}</h1>
              <button type="button" class="modal-close-button js-modal-close-button" aria-label="Close">&times;</button>
            </div>
            <div class="work-modal-row">
              <h2 class="work-modal-mini-header">Responsibilities</h2>
              <div class="work-modal-responsibilities">{{ post.responsibilities }}</div>
            </div>
          </header>

          <div class="work-modal-content">
            {{ post.content }}
          </div>

          {% if post.link %}

          <footer class="work-modal-footer">
            <div class="work-modal-row">
              <h2 class="work-modal-mini-header">Link</h2>
              <a class="work-modal-link" href="{{ post.link }}" target="_blank">{{ post.link }}</a>
            </div>
          </footer>

          {% endif %}
        </div>
        <div class="work-modal-screen js-work-modal-screen"></div>
      </div>

      {% endfor %}

      </div>
  </div>
</section>