.a11y-controls {
  ul {
    padding: 0;
    list-style-type: none;
  }

  li {
  }

  a,
  button {
    position: fixed;
    top: -100%;
    left: -100%;
    font-family: Arial, sans-serif;
    font-size: 2.6rem;
    color: white;
    text-decoration: none;
    background: black;
    border: 3px solid white;
    padding: $mezzo;
    opacity: 0;
    z-index: 200;

    &:focus {
      opacity: 1;
      top: 5px;
      left: 5px;
    }
  }
}

// Mixin for focus
@mixin focus() {
  &:focus {
    outline-style: double;
    outline-width: 8px;
    outline-color: $orange;
    outline-offset: 4px;
  }
}
