// Animations for the whole site, organized in the order they're used,
// top to bottom, left to right.

@mixin noAnimation() {
  animation: none !important;
  animation-delay: 0 !important;
  opacity: 1 !important;
  transition: none !important;
}

@mixin accessibleAnimations() {
  @media screen and (prefers-reduced-motion) {
    @include noAnimation();
  }

  .no-animation &,
  .no-animation &:hover,
  .no-animation &:focus {
    @include noAnimation();
  }
}

// =================================================================
// Squish up and in, bouncey effect
// Used for the "CIAO" letters.
// TODO Finesse this animation
// =================================================================
@keyframes bobble {
  0% {
    opacity: 0;
    transform: translateY(124px) scale(0.8, 1.6);
  }
  25% {
    transform: translateY(-64px) scale(1.6, 0.8);
  }
  55% {
    transform: translateY(16px) scale(0.9, 1.1);
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

// =================================================================
// Drops and squishes in.
// Used for the exclamation point
// =================================================================
@keyframes squishy {
  0% {
    transform: translateY(-124px) scale(0.8, 1.6) rotate(-18deg);
  }
  20% {
    transform: translateY(100px) scale(1.6, 0.6) rotate(-18deg);
  }
  40% {
    transform: translateY(0) scale(1, 1) rotate(0);
  }
  100% {
    opacity: 1;
  }
}

// =================================================================
// Simple up and in fade
// =================================================================
@keyframes fade-in {
  from {
    transform: translateY(64px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

// =================================================================
// Simple up and in fade but less up
// =================================================================
@keyframes subtle-fade-in {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

// =================================================================
// Makes something look like it's floating
// =================================================================
@keyframes float {
  0% {
    top: -3px;
    filter: drop-shadow(
      5px 15px 15px lighten(invert($background-color, 100%), 30%)
    );
  }

  100% {
    top: 0;
    filter: drop-shadow(
      0 0 0 lighten(invert($background-color, 100%), 30%)
    );
  }
}

@keyframes bounce {
  0% {
    transform: scale(0.8, 1.6);
  }

  4% {
    transform: scale(1.2, .8);
  }

  8% {
    transform: scale(0.9, 1.4);
  }

  12% {
    transform: scale(1.1, .9);
  }

  16% {
    transform: scale(1, 1.1);
  }

  20%, 100% {
    transform: scale(1,1);
  }

}

// =================================================================
// Scale upwards and in
// =================================================================
@keyframes pop-in {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.5);
  }
  70% {
    transform: scale(0.8);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

// =================================================================
// Simple 360deg rotation
// =================================================================
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// =================================================================
// Finger pointer
// Makes the hello section finger do a wiggle thingy
// =================================================================
$finger-width: 50px;
@keyframes finger-pointer {
  0% {
    background-position-x: 0;
  }
  25% {
    background-position-x: -$finger-width;
  }
  50% {
    background-position-x: -#{$finger-width * 2};
  }
  75% {
    background-position-x: -#{$finger-width * 3};
  }
}

// =================================================================
// Projector slide in
// Used for modals
// =================================================================
@keyframes projector-slide {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

// =================================================================
// Social
// Animates the social icon frames
// TODO this could probably just be a mixin that takes a frame width
// =================================================================
$frame-width: 80px;
@keyframes social {
  0% {
    background-position-x: 0;
  }
  33% {
    background-position-x: #{$frame-width};
  }
  66% {
    background-position-x: #{$frame-width * 2};
  }
  100% {
    background-position-x: #{$frame-width * 3};
  }
}
