// ==================================
// Universal base styles
// ==================================

* {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 10px;

  // Text improvements
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-size: 24px;
  line-height: 1.45;
  background-color: $background-color;
  color: $color;
  min-width: $smallest;
  font-family: 'EB Garamond', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}

.section {
  width: 100%;
}

.section-content {
  max-width: $largest;
  margin: 0 auto;
  padding-left: $mezzo;
  padding-right: $mezzo;

  @include breakpoint($bp-small) {
    padding-left: $grande;
    padding-right: $grande;
  }
}

.section-header {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: $piccolo;
}

h2 {
  font-size: 4.2rem;
  font-weight: normal;
}

h3 {
  font-size: 3.2rem;
  font-weight: normal;
}
