// ==================================
// Variables
// ==================================

// Spacing
$mostruoso: 12.8rem;
$enorme: 6.4rem;
$grande: 3.2rem;
$mezzo: 1.6rem;
$piccolo: 0.8rem;

// Breakpoints
$bp-large: 1024px;
$bp-medium: 768px;
$bp-small: 567px;

// Widths
$largest: 1200px;
$smallest: 320px;

* {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 10px;

  // Text improvements
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-size: 24px;
  line-height: 1.45;
  background-color: black;
  color: white;
  min-width: $smallest;

  font-family: 'Montserrat', sans-serif;
}

.section {
  max-width: $largest;
  margin: 0 auto;
  padding-left: $mezzo;
  padding-right: $mezzo;

  @include breakpoint($bp-small) {
    padding-left: $grande;
    padding-right: $grande;
  }
}

h2 {
  font-size: 4.2rem;
  font-weight: normal;
}

h3 {
  font-size: 3.2rem;
  font-weight: normal;
}
