.section-work {
  padding-bottom: $grande;

  #{$ie11} & {
    margin-top: $enorme;
  }

  .section-content {
    max-width: 1200px;
  }

  .section-header {
    max-width: 700px;
  }
}

// =============================
// Work cards on homepage
// =============================
.work-items {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;

  @include breakpoint($bp-medium) {
    justify-content: space-between;
  }
}

.work-item {
  position: relative;
  margin: $grande 0;
  background: $background-color;
  border-radius: 15px;
  max-width: 400px;
  width: 95%;

  @include breakpoint($bp-small) {
    width: 100%;
  }

  @include breakpoint($bp-medium) {
    width: 48%;
    max-width: 500px;
  }
}

.work-link {
  position: relative;
  display: block;
  text-decoration: none;
  color: inherit;
  background: white;
  border: ($border-width * 2) solid $border-color;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.6);
  will-change: border-color;

  .work-item-quadrus & {
    border-color: #714abd;
  }

  .work-item-londonlife & {
    border-color: #ea6330;
  }

  .work-item-castle & {
    border-color: #2600e1;
  }

  .work-item-glc & {
    border-color: #003c82;
  }

  .work-item-quadrus &,
  .work-item-londonlife &,
  .work-item-castle &,
  .work-item-glc & {
    @include breakpoint($bp-medium) {
      border: ($border-width * 2) solid $border-color;
      transition: $animation-duration;
    }
  }

  .work-item-quadrus &:hover,
  .work-item-quadrus &:focus {
    border-color: #714abd;
    box-shadow: 0 15px 60px rgba(#714abd, 0.8);
    outline-offset: -20px;
    outline: 5px solid #714abd;
  }
  .work-item-londonlife &:hover,
  .work-item-londonlife &:focus {
    border-color: #ea6330;
    box-shadow: 0 15px 60px rgba(#ea6330, 0.8);
    outline-offset: -20px;
    outline: 5px solid #ea6330;
  }
  .work-item-glc &:hover,
  .work-item-glc &:focus {
    border-color: #003c82;
    box-shadow: 0 15px 60px rgba(#003c82, 0.8);
    outline-offset: -20px;
    outline: 5px solid #003c82;
  }
  .work-item-castle &:hover,
  .work-item-castle &:focus {
    border-color: #2600e1;
    box-shadow: 0 15px 60px rgba(#2600e1, 0.8);
    outline-offset: -20px;
    outline: 5px solid #2600e1;
  }

  .no-animation & {
    transition: none !important;
  }
}

.work-header {
  position: relative;
  left: calc(-#{$border-width / 2} - 3px);
  width: calc(100% + #{$border-width} + 6px);
  margin: 0;
  color: $background-color;
  margin-top: 50px;
  transform: skew(-10deg) rotate(-10deg);
  transition: $animation-duration;
  will-change: background-color;

  @include breakpoint($bp-medium) {
    margin-top: 30px;
  }

  @include breakpoint($bp-large) {
    margin-top: 45px;
  }

  .no-animation & {
    transition: none !important;
  }

  // TODO This code isn't very DRY
  .work-item-quadrus .work-link & {
    background-color: #714abd;
  }

  .work-item-londonlife .work-link & {
    background-color: #ea6330;
  }

  .work-item-castle .work-link & {
    background-color: #2600e1;
  }

  .work-item-glc .work-link & {
    background-color: #003c82;
  }

  .work-item-quadrus .work-link &,
  .work-item-londonlife .work-link &,
  .work-item-castle .work-link &,
  .work-item-glc .work-link & {
    @include breakpoint($bp-medium) {
      background: invert($background-color, 100%);
    }
  }

  .work-item-quadrus .work-link:hover &,
  .work-item-quadrus .work-link:focus & {
    background-color: #714abd;
  }

  .work-item-londonlife .work-link:hover &,
  .work-item-londonlife .work-link:focus & {
    background-color: #ea6330;
  }

  .work-item-castle .work-link:hover &,
  .work-item-castle .work-link:focus & {
    background-color: #2600e1;
  }

  .work-item-glc .work-link:hover &,
  .work-item-glc .work-link:focus & {
    background-color: #003c82;
  }

  // The little "flags" that come out of the header's sides
  &:before,
  &:after {
    content: '';
    background: invert($background-color, 100%);
    position: absolute;
    max-width: 25px;
    height: 100%;
    display: none;
    transition: $animation-duration;
    width: 0;
    will-change: width, transform, opacity;

    @include breakpoint($bp-medium) {
      display: block;
    }

    .no-animation & {
      transition: none !important;
      display: none !important;
    }

    .work-link:hover &,
    .work-link:focus & {
      width: 100%;
      transform: translateY(0) scale(1);
    }

    .work-item-quadrus .work-link:hover &,
    .work-item-quadrus .work-link:focus & {
      background-color: #714abd;
    }

    .work-item-londonlife .work-link:hover &,
    .work-item-londonlife .work-link:focus & {
      background-color: #ea6330;
    }

    .work-item-castle .work-link:hover &,
    .work-item-castle .work-link:focus & {
      background-color: #2600e1;
    }

    .work-item-glc .work-link:hover &,
    .work-item-glc .work-link:focus & {
      background-color: #003c82;
    }
  }

  &:before {
    top: 15px;
    left: -24px;
    transform: translateX(25px) scale(0);
  }

  &:after {
    top: -15px;
    right: -24px;
    transform: translateX(-25px) scale(0);
  }
}

.work-project {
  position: relative;
  margin: 0;
  padding: $grande $mezzo 0 $mezzo;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.13;

  @include breakpoint($bp-small) {
    font-size: 4rem;
  }

  &:after {
    content: attr(data-title);
    position: absolute;
    top: 5px;
    left: -12px;
    width: 100%;
    padding: 3.2rem 1.6rem;
    color: rgba(0, 0, 0, 0.1);
    speak: none;
    z-index: -1;
  }
}

.work-category {
  padding-bottom: $grande;
  font-family: $fancy-font;
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 5px;
}

.work-responsibilities {
  text-align: center;
  text-decoration: none;
  padding: $mezzo;
}

.work-picture {
  border-top: none;
  padding: $mezzo;

  img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    filter: grayscale(100%);
    transition: $animation-duration;
    height: 200px;

    @include breakpoint($bp-xsmall) {
      max-width: 80%;
    }

    .no-animation & {
      transition: none !important;
      filter: none !important;
      filter: drop-shadow(0 8px 16px rgba(0, 0, 0, 0.6)) !important;
    }

    .work-link:hover &,
    .work-link:focus & {
      transform: translateY(-8px);
      filter: drop-shadow(0 8px 16px rgba(0, 0, 0, 0.6));

      .no-animation & {
        transform: translateY(0);
      }
    }
  }
}

// =============================
//
// Work modals
//
// =============================
.work-modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: $smallest;
  height: 100%;
  opacity: 0;
  transition: $animation-duration;
  z-index: 1;
  overflow-y: scroll;

  &:focus {
    outline: none !important;
  }

  &.is-visible {
    opacity: 1;
  }

  &.is-transitioning {
    overflow-x: hidden;
  }

  .no-animation & {
    transition: 0.01s !important; // Still want to fire event on transitionend
  }
}

// Used on the body when modal is open
.modal-open,
.modal-open body {
  overflow: hidden;
  margin-right: 15px;
}

@media (pointer: coarse) {
  .modal-open {
    margin-right: 0;
  }
}

.work-modal {
  position: relative;
  top: $border-width;
  margin: 0 auto $border-width auto;
  width: calc(100% - #{$border-width * 2});
  max-width: $bp-medium;
  background: $background-color;
  border: $border-width solid $border-color;
  box-shadow: 0 0 0 $border-width $background-color;
  transform: translateY(100%);
  transition: $animation-duration;
  animation: projector-slide $animation-duration;
  z-index: 10;

  @include breakpoint($bp-medium) {
    top: $grande;
    margin-bottom: $grande;
  }

  .is-visible & {
    transition: 0;
    transform: translateY(0);
  }

  .no-animation & {
    animation: none !important;
    transition: none !important;
  }
}

.work-modal-header {
  position: relative;

  h1 {
    position: relative;
    display: inline-block;
    margin: 0;
    text-transform: uppercase;
    z-index: 1;

    &:after {
      content: attr(data-title);
      position: absolute;
      top: 6px;
      left: 6px;
      width: 100%;
      color: rgba(0, 0, 0, 0.1);
      speak: none;
      z-index: -1;
    }
  }

  .modal-close-button {
    @extend .h1;
  }

  .work-modal-row {
    border-bottom: $border-width solid $border-color;

    &:nth-child(2) {
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
    }
  }
}

.work-modal-footer {
  .work-modal-row {
    flex-direction: column;
    border-top: $border-width solid $border-color;
  }

  .work-modal-mini-header {
    text-align: center;
  }
}

.work-modal-mini-header {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.work-modal-row {
  display: flex;
  align-items: center;
  padding: $mezzo;
  justify-content: space-between;
}

.work-modal-link {
  display: block;
  width: 100%;
  word-wrap: break-word;
  text-align: center;
}

.work-modal-content {
  padding: $mezzo;
}

.work-modal-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: invert($background-color, 100%);
  opacity: 0.5;
  z-index: -1;
}
