.section-about {
  padding-bottom: $grande;

  @include breakpoint($bp-medium) {
    padding-bottom: $enorme;
  }

  .section-header {
    margin-bottom: $grande;
  }
}

.about-howdy {
  font-size: larger;
}

.about-availability {
  position: relative;
  margin-top: $grande;
  border: $border-width solid $border-color;
  padding: $mezzo;

  &:after {
    content: '';
    position: absolute;
    background: invert($background-color, 100%);
    width: 90%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 16px;
    top: calc(100% + 6px);
  }
}
