$section-hello-bp: $bp-medium;

.section-hello {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 16.4rem);

  @include breakpoint($bp-small) {
    height: calc(100vh - 14.4rem);
  }
}

.section-hello-content {
  text-align: center;

  .section-hello-title {
    font-size: $mostruoso;
    text-transform: uppercase;
    letter-spacing: $grande;
    margin: 0;
  }

  .section-hello-title-small {
    @include breakpoint($section-hello-bp) {
      display: none;
    }
  }

  .section-hello-title-large {
    display: none;

    @include breakpoint($section-hello-bp) {
      display: block;
    }
  }
}
