$inital-delay: $animation-duration;

.section-hello {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;

  .section-content {
    text-align: center;
  }

  // ===================================
  // "Ciao" animation
  // ===================================

  .hello-header-img {
    height: 100%;
    width: 100%;
    margin-right: $piccolo;
    opacity: 0;
    transition: 0.2s;
    animation: bobble $animation-duration cubic-bezier(0.64, 0.57, 0.67, 1.53);
    animation-fill-mode: forwards;

    filter: drop-shadow(
      5px 15px 15px lighten(invert($background-color, 100%), 30%)
    );

    * {
      will-change: transform;
    }

    @include breakpoint($bp-xsmall) {
      margin-right: $mezzo;
    }

    @include breakpoint($bp-small) {
      margin-right: $grande;
    }

    .no-animation & {
      animation: none !important;
      opacity: 1;
    }
  }

  .hello-header-c {
    margin-left: -1rem;
    width: 60px;
    animation-delay: #{$inital-delay + 0.3};

    @include breakpoint($bp-small) {
      margin-left: 0;
      width: 90px;
    }

    @include breakpoint($bp-medium) {
      width: 150px;
    }
  }

  .hello-header-i {
    width: 20px;
    animation-delay: #{$inital-delay + 0.6};

    @include breakpoint($bp-small) {
      width: 31px;
    }

    @include breakpoint($bp-medium) {
      width: 51px;
    }
  }

  .hello-header-a {
    width: 72px;
    margin-right: 1rem;
    animation-delay: #{$inital-delay + 0.7};

    @include breakpoint($bp-small) {
      width: 112px;
      margin-right: 2.5rem;
    }

    @include breakpoint($bp-medium) {
      width: 186px;
    }
  }

  .hello-header-o {
    width: 67px;
    margin-right: 0;
    animation-delay: #{$inital-delay + 0.9};

    @include breakpoint($bp-small) {
      width: 102px;
    }

    @include breakpoint($bp-medium) {
      width: 170px;
    }
  }

  // ===================================
  // Intro paragraph below Ciao
  // ===================================
  .hello-intro {
    font-size: 110%;
    max-width: $bp-medium;
    opacity: 0;
    animation: fade-in ($animation-duration * 1.6);
    animation-delay: #{$inital-delay + 1.4};
    animation-fill-mode: forwards;

    @include breakpoint($bp-medium) {
      margin-top: $enorme;
    }

    .no-animation & {
      animation: none !important;
      opacity: 1 !important;
    }
  }

  // ===================================
  // Bursts
  // ===================================
  .hello-burst {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-shadow: inset 0 0 50px $background-color;
      z-index: 1;
    }

    .burst {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      height: 100%;
      width: 100%;
      background: url('/assets/images/burst.svg') center center no-repeat;
    }

    // TODO Convert to a for loop
    .burst-1 {
      transform: translateY(-50%);
    }

    .burst-2 {
      transform: translateY(-50%) rotate(45deg);
      transform-origin: bottom center;
    }

    .burst-3 {
      transform: translateY(-50%) rotate(90deg);
      transform-origin: bottom center;
    }

    .burst-4 {
      transform: translateY(-50%) rotate(135deg);
      transform-origin: bottom center;
    }

    .burst-5 {
      transform: translateY(-50%) rotate(180deg);
      transform-origin: bottom center;
    }

    .burst-6 {
      transform: translateY(-50%) rotate(225deg);
      transform-origin: bottom center;
    }

    .burst-7 {
      transform: translateY(-50%) rotate(270deg);
      transform-origin: bottom center;
    }

    .burst-8 {
      transform: translateY(-50%) rotate(315deg);
      transform-origin: bottom center;
    }
  }
}

.hello-finger {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 1vh;
  max-width: 50px;
  max-height: 66px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  animation: finger-pointer 0.5s step-end alternate infinite;
  background: url('/assets/images/hand-sprite.svg') no-repeat;
  background-position: 0 0;
  background-size: cover;
  opacity: 0;
  transition: 1s;

  @include breakpoint(max-height 700px) {
    display: none;
  }

  &.is-active {
    opacity: 0.5;
  }

  .no-animation & {
    animation: none !important;
    transition: 0 !important;
    opacity: 1 !important;
  }

  $finger-width: 50px;
  @keyframes finger-pointer {
    0% {
      background-position-x: 0;
    }
    25% {
      background-position-x: -$finger-width;
    }
    50% {
      background-position-x: -#{$finger-width * 2};
    }
    75% {
      background-position-x: -#{$finger-width * 3};
    }
  }
}

.toggle-animation {
  font-size: 1.2rem;
  background: transparent;
  border: none;
  color: lighten($color, 20%);
  border-bottom: 1px solid lighten($color, 20%);
  padding: 0;

  animation: subtle-fade-in 3s;
  animation-fill-mode: forwards;
  animation-delay: #{$inital-delay + 2.5};
  opacity: 0;

  .no-animation & {
    animation: none !important;
    opacity: 1 !important;
  }
}

// TODO Move animations to separate Sass file

// TODO Finesse this animation
@keyframes bobble {
  0% {
    transform: translateY(124px) scale(0.8, 1.6);
  }
  25% {
    transform: translateY(-64px) scale(1.6, 0.8);
  }
  55% {
    transform: translateY(16px) scale(0.9, 1.1);
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    transform: translateY(64px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes pop-in {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes subtle-fade-in {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
