.section-about {
  padding-bottom: $grande;

  @include breakpoint($bp-medium) {
    padding-bottom: $enorme;
  }

  .section-header {
    margin-bottom: $grande;
  }
}

.about-howdy {
  display: flex;
  align-items: center;
  font-size: 4rem;
  margin-bottom: 0;
}

.about-h {
  max-width: 120px;
  margin-right: -12px;

  @include breakpoint($bp-small) {
    margin-left: -21px;
  }
}

.about-availability {
  position: relative;
  margin-top: $grande;
  border: $border-width solid $border-color;
  padding: $mezzo;

  &:after {
    content: '';
    position: absolute;
    background: invert($background-color, 100%);
    width: 90%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 16px;
    top: calc(100% + 6px);
  }

  p {
    margin-top: 0;
    margin-left: 1.6rem;
  }
}

.about-availability-flag {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 8px 16px;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background: invert($background-color, 100%);
  transform: rotate(-20deg) skew(-20deg) translateX(-44px) translateY(-24px);
}
