.section-contact {
  .section-header {
    margin-bottom: $grande;
  }
}

.contact-email {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 2.5rem;
  color: inherit;
  text-decoration-skip: ink;

  @include breakpoint($bp-xsmall) {
    font-size: 3rem;
  }

  @include breakpoint($bp-small) {
    font-size: 4rem;
  }
}

.contact-other {
  display: block;
  text-align: center;
  margin: $grande 0;
}

.contact-twitter,
.contact-linkedin,
.contact-dribbble {
  display: inline-block;
  width: 80px;
  height: 80px;
  background-position: 0 0;
  background-size: cover;
  margin-right: $mezzo;
  opacity: 0.75;

  &:hover,
  &:focus {
    animation: social 0.3s steps(1) infinite;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-timing-function: step-start, step-end;
  }

  #{ $ie11 } & {
    animation: none;
  }

  .no-animation &,
  .no-animation &:hover,
  .no-animation &:focus {
    animation: none !important;
    opacity: 1 !important;
  }
}

.contact-twitter {
  background-image: url('/assets/images/twitter.svg');

  #{ $ie11 } & {
    background: url('/assets/images/twitter-noframes.svg') 0 0 no-repeat;
  }
}

.contact-linkedin {
  background-image: url('/assets/images/linkedin.svg');

  #{ $ie11 } & {
    background: url('/assets/images/linkedin-noframes.svg') 0 0 no-repeat;
  }
}

.contact-dribbble {
  background-image: url('/assets/images/dribbble.svg');
  margin-right: 0;

  #{ $ie11 } & {
    background: url('/assets/images/dribbble-noframes.svg') 0 0 no-repeat;
  }
}
