.main-footer {
  padding-top: $enorme;
  background-color: invert($background-color, 100%);
  color: white;
  text-align: center;

  p {
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
  }
}

.footer-logo {
  display: block;
  margin: 0 auto $enorme auto;
  max-width: 50px;
  opacity: 0.4;
}

.footer-made {
  font-family: 'Montserrat', Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 4px;
  font-size: 60%;

  @include breakpoint($bp-small) {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80%;
  }

  img {
    display: block;
    margin: $mezzo auto;
    max-width: 80%;

    @include breakpoint($bp-small) {
      display: inline-block;
      max-width: 140px;
      margin: 0 $mezzo;
    }
  }
}

.footer-copyright {
  margin-top: $enorme;
  font-family: $fancy-font;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 60%;
}

.sub-footer {
  margin-top: $enorme;
  background: invert($background-color, 95%);
  padding: $enorme 0;
}

.footer-the-end {
  position: relative;
  top: 4px;
  margin: 0 auto;
  max-width: 200px;
}
