// ============================================
// Background effects
// ============================================
.background-effects {
  overflow: hidden;
}

.intro-wipe {
  position: fixed;
  top: -50vh;
  left: -50vw;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  pointer-events: none;
  background: invert($background-color, 100%);
  transition: $animation-duration;
  will-change: opacity;
  opacity: 1;

  p {
    display: inline-block;
    position: absolute;
    top: 45vh;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
  }

  &.introduced {
    opacity: 0;

    p {
      display: none;
    }
  }

  #{ $ie11 } & {
    animation: none;
    display: none;
  }
}

.vignette {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.4) inset;

  #{ $ie11 } & {
    display: none;
  }
}

// ============================================
// Other universal styles
// ============================================
.logo {
  position: fixed;
  top: $mezzo;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 50px;
  z-index: 10;
}

.section {
  width: 100%;

  &:not(.section-hello) {
    margin-top: $enorme;
  }
}

.section-content {
  max-width: $bp-medium;
  margin: 0 auto;
  padding-left: $mezzo;
  padding-right: $mezzo;

  @include breakpoint($bp-small) {
    padding-left: $grande;
    padding-right: $grande;
  }
}

.section-header {
  margin: 0 auto $grande auto;

  @include breakpoint($bp-medium) {
    margin-bottom: $enorme;
  }
}
