// ==================================
// Variables
// ==================================

// Spacing
$mostruoso: 12.8rem;
$enorme: 6.4rem;
$grande: 3.2rem;
$mezzo: 1.6rem;
$piccolo: 0.8rem;

// Breakpoints
$bp-xlarge: 1280px;
$bp-large: 1024px;
$bp-medium: 768px;
$bp-small: 567px;
$bp-xsmall: 432px;

// Widths
$largest: 1200px;
$smallest: 320px;

// Styles
$background-color: rgb(230, 231, 232); // Controls most site styles
$color: invert($background-color, 100%);
$border-width: 4px;
$border-radius: 8px;
$border-color: $color;

// Colours
$purple: #5700b7;
$green: #00ff9a;
$orange: #f95e00;

// Animations + transitions
$animation-duration: 0.6s;
