@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html,
  body {
    height: 100%;
  }

  html {
    scrollbar-gutter: stable;
    overscroll-behavior: none;
  }

  body.reduce-motion {
    filter: none;
  }

  body {
    margin: 0;
    font-family: "EB Garamond", serif;
    color: var(--ink);
    background: --ink;
    min-height: 100vh;
    min-height: 100svh;
    overflow-x: hidden;
  }

  main {
    position: relative;
    z-index: 2;
    opacity: 1;
  }

  hr {
    width: clamp(320px, 60%, var(--page-max-width));
    border: 12px groove var(--ink-light);
    border-radius: 24px;
    opacity: 0.5;
    margin: 64px auto;
  }
}
