@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html,
  body {
    height: 100%;
  }

  html {
    scrollbar-gutter: stable;
    overscroll-behavior: none;
  }

  body.reduce-motion {
    filter: none;
  }

  body {
    margin: 0;
    font-family: "EB Garamond", serif;
    color: var(--ink);
    background: --black;
    min-height: 100vh;
    min-height: 100svh;
    overflow-x: hidden;
  }

  main {
    position: relative;
    z-index: 2;
    opacity: 1;
  }
}
