.four-oh-four {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: var(--ink-light);
}

.four-oh-four h1 {
  font-size: 5rem;
  margin: 0;
}

.four-oh-four p {
  margin: 0;
}

.four-oh-four a {
  color: var(--ink-light);
}
