@layer footer {
  .footer {
    padding: 64px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: center;
    background-color: #2b281f;
    color: red !important;
  }

  .footer a {
    color: var(--ink-light);
  }
}
