@layer footer {
  .footer {
    padding: 64px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: center;
    background-color: var(--ink-warm);
    color: var(--ink-light);
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
    text-align: center;
    font-weight: 400;
  }

  .footer-links {
    padding: 0;
    display: flex;
  }

  .footer-links {
    gap: 12px;
    list-style-type: none;
  }

  .footer a {
    display: block;
    color: var(--ink-light);
  }

  .footer-logo {
    max-width: 50px;
    opacity: 0.2;
  }

  .footer-tech,
  .footer-tech-head,
  .footer-copyright {
    font-family: "Montserrat", Arial, sans-serif;
    letter-spacing: 4px;
    text-transform: uppercase;
  }

  .footer-tech {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .footer-tech-made {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    font-size: 1.5rem;
  }

  .footer-tech-made img {
    max-width: min(50%, 160px);
  }

  .footer-tech-head {
    text-align: center;
  }
}
