---
title: Home
---

{% comment %}
Site-wide things to consider/do/check-off
TODO Lazy load images
TODO Add noise/film effect?
{% endcomment %}

{% include head.html %}

{% include hello.html %}
{% include work.html %}
{% include about.html %}
{% include contact.html %}

{% include footer.html %}

<div class="background-effects">
  <div class="intro-wipe js-intro-wipe"></div>
  <div class="reverse-vignette"></div>
  <div class="vignette"></div>
  <div class="noise"></div>
  <div class="lines"></div>
</div>
