---
title: Home
---

{% comment %}
Site-wide things to consider/do/check-off
TODO Lazy load images
TODO Add noise/film effect?
TODO Menu
TODO Favicon
TODO Work!!
TODO 404 page
{% endcomment %}

{% include head.html %}
{% include hello.html %}

<main role="main" id="main">
  {% include work.html %}
  {% include about.html %}
  {% include contact.html %}
</main>

{% include footer.html %}

<div class="background-effects">
  <div class="intro-wipe js-intro-wipe"></div>
  <div class="reverse-vignette"></div>
  <div class="vignette"></div>
</div>
